<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Honors</h1>
	</div>
	<div class="content-rounded-panel">
		<div>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th><a style="cursor: pointer;">Year</a></th>
						<th><a style="cursor: pointer;">Honor</a></th>
						<th><a style="cursor: pointer;">Institution</a></th>
					</tr>
				</thead>
				<tbody>
					{% for hon in site.honors %}
						<tr id="EducationData_2500">
							<td>{{hon.year}}</td>
							<td>{{hon.honor}}</td>
							<td>{{hon.school}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<br>
	</div>
</div>
